@{
    ViewBag.Title = "Account";
}

<table class="statsTable">
    <thead>
        <tr>
            <th>Welcome</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Register - Registers a new account.</p>
                <p>Log in - Logs into an account using valid credentials.</p>
                <p>Log out - Logs out of an account.</p>
            </td>
        </tr>
    </tbody>
</table>
