@{
    ViewBag.Title = "Home";
}

<table class="statsTable">
    <thead>
        <tr>
            <th>Welcome</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Welcome to the MTG Deck Builder.</p>
                <p>To get started, create an account by selecting "Account" -> "Register" from the menu.</p>
                <p>After you have registered, you can begin building your deck by selecting "Deck" -> "Create" from the menu.</p>
            </td>
        </tr>
    </tbody>
</table>
